@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averta', sans-serif;
    color: #514949;
}
header{
    height: 105vh;
}
a{
    text-decoration: none;
    color: #E7332B;
}
span{
    color: #E7332B;
}
.intro{
    text-align: center;
    width: 50%;
    margin: 0px auto;
}
.intro h2{
    margin-top: 3em;
}
.intro h1{
    margin-top: 2em;
}
.intro p{
    margin-top: 3em;
    line-height: 150%;
}
.intro .btn-container{
    display: flex;
    margin: 5.5em auto;
    width: 75%;
    justify-content: space-between;
}
.intro button{
    font-size: 16px;
}
.intro .btn1{
    background-color: #E7332B;
    color: white;
    border: 1px solid #E7332B;
    padding: 14px 27px;
}
.intro .btn1:hover{
    background-color: white;
    color: #E7332B;
    cursor: pointer;
}
.intro .btn2{
    background-color: white;
    color: #E7332B;
    border: 1px solid #E7332B;
    padding: 14px 27px;
}
.intro .btn2:hover{
    background-color: #E7332B;
    color: white;
    cursor: pointer;
}
.mid{
    background-color: white;
    text-align: center;
    width: 29%;
    margin: auto;
}
.mid p{
    margin-top: 9em;
    color:#E7332B;
    font-size: 16px;
}
.mid h2{
    font-weight: 400;
    line-height: 150%;
    margin-top: 0.8em;
    margin-bottom: 2.5em;
}
.level-box-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.level-box{
    display: flex;
    flex-direction: column;
    width: 31%;
    background-color: #fffafa;
}
.level-box h4{
    background-color: white;
    color: black;
    text-align: center;
    width: 32%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
}
.level-box p{
    width: 85%;
    line-height: 150%;
    margin-left: 2em;
    margin-right: 2em;
}
.level-box a{
    width: 85%;
    margin-left: 2em;
    margin-top: 30px;
    padding-bottom: 5em;
}
footer{
    display: flex;
    flex-direction: column;
    margin-top: 15em;
}
.footer-top, .footer-bottom{
    width: 90%;
    margin: auto;
    display: flex;
}
.footer-top{
    justify-content: space-between;
    padding-bottom: 5em;
    border-bottom: 2px solid #212529;
}
.footer-top div{
    display: flex;
    flex-direction: column;
}
.footer-top ul{
    list-style: none;
    line-height: 200%;
}
.contact p, .contact a{
    line-height: 150%;
    font-size: 14px;
    width: 75%;
    margin-top: 10px;
}
.socials div{
    display: flex;
    flex-direction: row;
}
.socials-img-container{
    margin-top: 20px;
}
.socials-img-container img{
    width: 20px;
    margin-right: 10px;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom h4{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 90px;
}
@media (max-width:800px) {
    .intro{
        width: 95%;
    }
    .intro .btn-container{
        flex-direction: column;
        width: 40%;
    }
    .intro .btn2{
        margin-top: 25px;
    }
    .mid{
        width: 60%;
    }
    .level-box-container{
        flex-direction: column;
        width: 95%;
    }
    .level-box{
        width: 100%;
        margin-top: 40px;
    }
    .footer-top{
        width: 95%;
        text-align: center;
        flex-direction: column;
    }
    .footer-top h4{
        font-size: 25px;
    }
    .contact p, .contact a{
        margin: auto;
    }
    .links{
        margin-top: 20px;
    }
    .socials{
        margin: 20px auto;
    }
    .socials h4{
        margin: auto;
    }
    .contact{
        margin: 40px auto;
    }
}
@media (max-width:600px){
    .intro .btn-container{
        flex-direction: column;
        width: 70%;
}
.mid{
    width: 90%;
}
}