@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averta', sans-serif;
}
.header-container{
    width: 90%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-left: 5%;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header-container a{
    text-decoration: none;
    font-size: 19px;
}
.header-container .logo{
    margin: auto 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-container .links{
    margin: auto 0 auto 9em;
}
.header-container .links a{
    margin-left: 50px;
    color: #514949;
}
.header-container .enroll{
    margin-left: auto;
    display: flex;
    width: 13.5em;
}
.header-container .enroll img{
    position: absolute;
    z-index: 1;
    margin: 5px 5px 5px 5px;
    width: 70px;
    background-color: #E7332B;
    border-radius: 50%;
    padding: 10px;
}
.header-container .enroll a{
    margin: auto 0 auto auto;
    color: white;
    background-color: #E7332B;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}
main{
    width: 100%;
}
.main1{
    position: relative;
    margin-top: 12em;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid gray;
}
.main1 p{
    font-size: 18px;
}
.main1 .first-p{
    color: #E7332B;
}
.main1 h1{
    width: 45%;
    margin: 10px auto 0 auto;
    line-height: 110%;
    font-size: 3em;
    font-weight: bolder;
}
.main1 .second-p{
    width: 33%;
    margin: 3em auto 0 auto;
    color: #514949;
}
.main1 button{
    background-color: #E7332B;
    color: white;
    margin: 2em auto 9em auto;
    font-size: 18px;
    border: 1px solid #E7332B;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
}
.main1 img{
    position: absolute;
}
.main1 .lady-img{
    width: 22em;
    z-index: 1;
    top: 6em;
    left: 1.1em;
}
.main1 .male-img{
    width: 20em;
    z-index: 1;
    top: 3em;
    right: 1em;
}
.main1 .male-small-img{
    width: 3.5em;
    z-index: 1;
    top: 23em;
    left: 23em;
}
.main1 .arrow-img{
    width: 5em;
    z-index: 1;
    top: 25em;
    left: 31em;
}
.main1 .line-img{
    width: 11em;
    z-index: 2;
    top: 12em;
    left: 18.5em;
}
.main2{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.main2 h2{
    width: 40%;
    text-align: left;
    margin: auto 0;
}
.main2 .middle{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.main2 .middle img{
    width: 8em;
}
.main2 .middle p{
    margin: auto;
    font-size: 14px;
}
.main2 .right{
    width: 34%;
    font-size: 1.8em;
    text-align: right;
    padding: 30px 0 30px 0;
}
.main2 .right a{
    color: green;
}
.main3{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.main3 p{
    margin-top: 5em;
    color: #E7332B;
    font-size: 23px;
}
.main3 h1{
    width: 50%;
    font-size: 40px;
    line-height: 130%;
}
.main3 img{
    position: absolute;
}
.main3 .arrow2-img{
    width: 7em;
    top: 64em;
    left: 22em;
    z-index: 1;
}
.main3 .star-img{
    width: 12em;
    top: 71em;
    left: 46em;
    z-index: 1;
}
.main4{
    width: 100%;
    display: flex;
    background-color: #E7332B;
}
.main4 .left{
    margin-left: 7%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.main4 .left h1{
    width: 80%;
    font-size: 40px;
    color: white;
}
.main4 .left p{
    width: 65%;
    font-size: 19px;
    color: white;
}
.main4 .left .para2{
    margin-top: 2.5em;
}
.main4 .left button{
    background-color: white;
    color: #E7332B;
    margin-top: 2em;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
}
.main4 .left-bottom{
    display: grid;
    grid-template-areas:
    'a b'
    'c d'
    ;
}
.main4 .left-bottom .teamwork{
    grid-area: a;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .mentorship{
    grid-area: b;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .practice{
    grid-area: c;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .games{
    grid-area: d;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom img{
    width: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.main4 .left-bottom p{
    margin: auto;
}