@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averta', sans-serif;
}
header{
    background-color: #fffdf5;
    z-index: 3;
    width: 100%;
}
body{
    background-color: #fffdf5;
}
.header-container{
    width: 100%;
    display: flex;
    background-color: #fffdf5;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header-container a{
    text-decoration: none;
    font-size: 19px;
}
.header-container .logo{
    margin: auto 0 auto 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-container .links{
    margin: auto 0 auto 2em;
}
.header-container .links a{
    margin-left: 50px;
    color: #514949;
}
.header-container .enroll{
    margin: auto 5% auto 0;
    display: flex;
    width: 13.5em;
}
.header-container .enroll img{
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 13em;
    width: 70px;
    background-color: #E7332B;
    border-radius: 50%;
    padding: 10px;
}
.header-container .enroll a{
    margin: auto 0 auto auto;
    color: white;
    background-color: #E7332B;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
}
main{
    width: 100%;
}
.main1{
    position: relative;
    margin-top: 12em;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid gray;
}
.main1 p{
    font-size: 18px;
}
.main1 .first-p{
    color: #E7332B;
}
.main1 h1{
    width: 45%;
    margin: 10px auto 0 auto;
    line-height: 110%;
    font-size: 3em;
    font-weight: bolder;
}
.main1 .second-p{
    width: 33%;
    margin: 3em auto 0 auto;
    color: #514949;
}
.main1 button{
    background-color: #E7332B;
    color: white;
    margin: 2em auto 9em auto;
    font-size: 18px;
    border: 1px solid #E7332B;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
}
.main1 img{
    position: absolute;
}
.main1 .lady-img{
    width: 22em;
    z-index: 1;
    top: 6em;
    left: 1.1em;
}
.main1 .male-img{
    width: 20em;
    z-index: 1;
    top: 3em;
    right: 1em;
}
.main1 .male-small-img{
    width: 3.5em;
    z-index: 1;
    top: 23em;
    left: 23em;
}
.main1 .arrow-img{
    width: 5em;
    z-index: 1;
    top: 25em;
    right: 31em;
}
.main1 .line-img{
    width: 11em;
    z-index: 2;
    top: 12.3em;
    right: 25em;
}
.main2{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.main2 h2{
    width: 40%;
    text-align: left;
    margin: auto 0;
}
.main2 .middle{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.main2 .middle img{
    width: 8em;
}
.main2 .middle p{
    margin: auto;
    font-size: 14px;
}
.main2 .right{
    width: 34%;
    font-size: 1.8em;
    text-align: right;
    padding: 30px 0 30px 0;
}
.main2 .right a{
    color: #43b97f;
}
.main3{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.main3 p{
    margin-top: 5em;
    color: #E7332B;
    font-size: 23px;
}
.main3 h1{
    width: 50%;
    font-size: 40px;
    line-height: 130%;
}
.main3 img{
    position: absolute;
}
.main3 .arrow2-img{
    width: 7em;
    top: 64em;
    left: 22em;
    z-index: 1;
}
.main3 .star-img{
    width: 12em;
    top: 71em;
    left: 46em;
    z-index: 1;
}
.grid-div{
    display: flex;
    width: 90%;
    margin: 4em auto 0 auto;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'a b c'
    'd e f'
    ;
    gap: 20px;
}
.grid-container h1{
    font-size: 60px;
    margin-top: 0.8em;
    margin-left: 0.6em;
}
.grid-container h2{
    font-size: 36px;
}
.grid-container p{
    font-size: 18px;
    width: 80%;
    margin-top: 2em;
    margin-left: 2em;
}
.grid-container img{
    position: absolute;
    top: 0;
    right: 0;
}
.grid1{
    grid-area: a;
    background-color: #e7332b;
    color: white;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid1:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid1 h2{
    width: 40%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.grid2{
    grid-area: b;
    background-color: white;
    color: #1b1a20;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid2:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid2 h2{
    width: 50%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.grid3{
    grid-area: c;
    background-color: white;
    color: #1b1a20;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid3:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid3 h2{
    width: 50%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.grid4{
    grid-area: d;
    background-color: white;
    color: #1b1a20;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid4:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid4 h2{
    width: 50%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.grid5{
    grid-area: e;
    background-color: white;
    color: #1b1a20;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid5:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid5 h2{
    width: 50%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.grid6{
    grid-area: f;
    background-color: white;
    color: #1b1a20;
    border-radius: 15px;
    position: relative;
    height: 27em;
    margin-top: 1em;
    box-shadow: 0px 11px 22px 0px rgba(231, 51, 43, 0.1);
}
.grid6:hover{
    margin-top: 0;
    transition: 0.3s;
}
.grid6 h2{
    width: 50%;
    margin-top: 0.8em;
    margin-left: 1em;
}
.main4{
    width: 100%;
    display: flex;
    background-color: #E7332B;
    margin-top: 10em;
    position: relative;
}
.arrow3{
    position:absolute;
    width: 5em;
    top: 3em;
    left: 23em;
}
.dotsection{
    position: absolute;
    width: 8em;
    bottom: 2em;
    left: 2em;
}
.main4 .left{
    margin: 7em 0 9em 7%;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.main4 .left h1{
    width: 90%;
    font-size: 40px;
    color: white;
}
.main4 .left p{
    width: 75%;
    font-size: 19px;
    color: white;
}
.main4 .left .para2{
    margin-top: 2.5em;
}
.main4 .left button{
    background-color: white;
    color: #E7332B;
    margin-top: 2em;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
}
.main4 .left-bottom{
    display: flex;
    margin-top: 3em;
    width: 100%;
}
.main4 .left-bottom-grid{
    display: grid;
    width: 90%;
    grid-template-areas:
    'a b'
    'c d'
    ;
    gap: 20px;
}
.main4 .left-bottom .teamwork{
    grid-area: a;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .mentorship{
    grid-area: b;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .practice{
    grid-area: c;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom .games{
    grid-area: d;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
}
.main4 .left-bottom img{
    width: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.main4 .left-bottom p{
    margin: auto;
}
.main4 .right{
    width: 50%;
    margin-left: 0;
}
.main4 .right img{
    width: 100%;
    margin-top: 3.5em;
}
.main5{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main5-p{
    color: #e7332b;
    font-size: 24px;
    margin: 3em 0 0 5%;
}
.main5-h1{
    color: #1b1a20;
    font-size: 40px;
    margin-left: 5%;
    width: 40%;
}
.arrow5{
    position: absolute;
    width: 10em;
    top: 14em;
    left: 43%;
}
.main5-grid{
    width: 90%;
    margin: 7em auto 0 auto;
    display: grid;
    grid-template-areas: 
    'a b c'
    'd e f'
    ;
    gap: 30px;
}
.main5-grid div h2{
    font-size: 20px;
    color: #1b1a20;
    margin: 2em 0 0 2em;
}
.main5-grid div p{
    color: #1b1a20;
    margin: 3em 1.5em 0 2em;
    line-height: 22px;
}
.main5-grid .img-div{
    margin-left: 2.5em;
    margin-top: 1.5em;
}
.main5-grid .img-div .java{
    width: 3em;
}
.main5-grid .img-div .fig{
    width: 6em;
}
.main5-grid .img-div img{
    margin-right: 1em;
}
.main5-grid .g1{
    grid-area: a;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g1 img{
    width: 2.4em;
}
.main5-grid .g2{
    grid-area: b;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g2 img{
    width: 3em;
}
.main5-grid .g3{
    grid-area: c;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g3 img{
    width: 3em;
}
.main5-grid .g4{
    grid-area: d;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g4 img{
    width: 5em;
}
.main5-grid .g5{
    grid-area: e;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g5 img{
    width: 2.5em;
}
.main5-grid .g6{
    grid-area: f;
    background-color: white;
    width: 24em;
    border-radius: 41px;
    box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    height: 21em;
}
.main5-grid .g6 img{
    width: 5em;
}
.main5 button{
    background-color: #E7332B;
    color: white;
    margin: 4em auto 0 auto;
    font-size: 18px;
    border: 1px solid #E7332B;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
}
.main6{
    width: 90%;
    border-top: 1px solid #1b1a20;
    border-bottom: 1px solid #1b1a20;
    margin: 5em auto 0 auto;
    position: relative;
}
.main6-wire{
    position: absolute;
    width: 8em;
    top: 4em;
    left: 10em;
}
.main6 .first-p{
    font-size: 24px;
    color: #e7332b;
    text-align: center;
    margin-top: 6em;
}
.main6 h1{
    font-size: 40px;
    color: #1b1a20;
    text-align: center;
    margin-bottom: 3em;
}
.main6 .q-div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 5em;
    border: 1px solid #0000ee;
    margin: auto;
}
.main6 .q-div .question{
    font-size: 18px;
    color: #333333;
    font-weight: bolder;
    margin-top: 1.5em;
    margin-left: 1em;
}
.main6 .q-div .plus{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 1em;
    margin-right: 1em;
}
.main6 .tweet{
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: 5em auto 3em auto;
}
.main6 .tweet p{
    font-size: 18px;
    color: #333333;
    margin: auto 0 auto 0;
}
.main6 .tweet button{
    display: flex;
    background-color: #e7332b;
    border: 1px solid #e7332b;
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    color: white;
}
.main6 .tweet button a{
    margin: auto 0 auto auto;
    font-size: 16px;
}
.main7{
    position: relative;
    display: flex;
    flex-direction: column;
}
.main7 img{
    position: absolute;
}
.main7-wire{
    width: 8em;
    top: 4em;
    left: 15em;
}
.main7-star{
    width: 9em;
    top: 7em;
    right: 7em;
}
.main7-triangle{
    width: 8em;
    top: 36em;
    left: 0;
}
.main7-big-circle{
    width: 11em;
    top: 64em;
    right: 3em;
    z-index: -1;
}
.main7-small-circle{
    width: 7.5em;
    top: 75em;
    left: 4em;
}
.main7-1{
    margin-top: 11em;
    text-align: center;
}
.main7-1 .first-p{
    color: #e7332b;
    font-size: 24px;
}
.main7-1 .first-h1{
    color: #1b1a20;
    font-size: 40px;
    font-weight: bolder;
}
.main7-1 .second-p{
    color: #333333;
    font-size: 18px;
    margin-top: 1em;
}
.main7-flex{
    display: flex;
    width: 85%;
    margin: 4em auto 0 auto;
    justify-content: space-between;
}
.main7-flex div{
    background-color: #1b1a20;
    color: white;
    width: 34.5em;
    border-radius: 65px;
    height: 45em;
    box-shadow: rgba(231, 51, 43, 0.2) 0px 31px 60px 0px;
}
.main7-flex div h1{
    margin: 2em 0 0 1.5em;
    font-weight: bolder;
    font-size: 35px;
}
.main7-flex div .div-p{
    margin: 1em 0 0 3em;
    font-size: 16px;
    line-height: 22.4px;
    width: 70%;
}
.main7-flex div p{
    margin-left: 3em;
    line-height: 25px;
}
.main7-flex div h4{
    font-size: 18px;
    font-weight: bolder;
    margin: 1em 0 0 2.8em;
}
.main7-flex div li{
    font-size: 16px;
    margin-left: 4em;
    width: 70%;
    line-height: 22.4px;
}
.main8{
    background-color: #e7332b;
    width: 90%;
    border-radius: 30px;
    margin: 16em auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main8 p{
    color: white;
    font-size: 18px;
    margin-top: 4em;
}
.main8 h1{
    font-size: 55px;
    color: white;
    width: 50%;
    margin: 0.5em auto 0.5em auto;
}
.main8 button{
    width: 15%;
    background-color: white;
    color: #e7332b;
    margin: 0 auto 8em auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
}
.main8 img{
    position: absolute;
}
.main8-spiral{
    width: 10em;
    top: 4.5em;
    left: 9em;
}
.main8-top-bend{
    width: 10em;
    top: 0;
    right: 0;
}
.main8-bottom-bend{
    width: 8em;
    bottom: 0;
    left: 0;
}
.main8-circles{
    width: 9em;
    bottom: 0;
    left: 67em;
}